/* ContentPane */

.zweicom .dijitContentPane {
    padding: 0;
}

/* nested layouts */
.zweicom .dijitTabContainerTop-dijitContentPane,
.zweicom .dijitTabContainerLeft-dijitContentPane,
.zweicom .dijitTabContainerBottom-dijitContentPane,
.zweicom .dijitTabContainerRight-dijitContentPane,
.zweicom .dijitAccordionContainer-dijitContentPane {
    /*background-color: #fff;*/
}

.zweicom .dijitSplitContainer-dijitContentPane,
.zweicom .dijitBorderContainer-dijitContentPane {
    background-color: #fff;		/* override background-color setting on parent .dijitBorderContainer */
    padding: 5px;
}
