
/* Menu */
.gamelena .dijitMenuBar {
  border: 1px solid #b5bcc7;
  margin: 0;
  padding: 0;
  background-color: #efefef;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
}
.gamelena .dijitMenu {
  background-color: #ffffff;
  border: 1px solid #759dc0;
  /* so adjoining borders of MenuBar/ComboBox and Menu overlap, avoiding double border */

  margin: -1px 0;
}

.gamelena .dijitBorderContainer .dijitMenuBar {
	border:1px solid #B1BADF;
}

.gamelena .dijitMenuItem {
	font-family: sans-serif;
	margin: 0;
	color: #243C5F;
}
.gamelena .dijitMenuBar .dijitMenuItem {
	padding: 4px 5px;
}

.gamelena .dijitMenuPreviousButton, .gamelena .dijitMenuNextButton {
	font-style: italic;
}
.gamelena .dijitMenuItem TD {
	padding:1px;
}

.gamelena .dijitMenuPassive .dijitMenuItemHover,
.gamelena .dijitComboBoxMenu .dijitMenuItemHover,
.gamelena .dijitMenuItemSelected {
	background-color: #d9e6f9; /* #95a0b0; #555555; #aaaaaa; #646464;  #60a1ea; #848484; */
	color: #243C5F;
}

.gamelena .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
}

.gamelena .dijitMenuExpand {
	width:15px;
	height:15px;
	background-image: url('images/spriteRoundedIconsSmall.png');
	background-position: -30px top;
}
.dj_ie6 .gamelena .dijitMenuExpand {
	background-image: url('images/spriteRoundedIconsSmall.gif');
}

.gamelena .dijitMenuSeparator {
	height: 1px;
}

/* separator can be two pixels -- set border of either one to 0 to have only one */
.gamelena .dijitMenuSeparatorTop {
	border-bottom: 1px solid #fff; /*97adcb; */
}

.gamelena .dijitMenuSeparatorBottom {
	border-top: 1px solid #8ba0bd;
}

/* the checked menu item */
.gamelena .dijitCheckedMenuItemIconChar {
	display: none;
}

.gamelena .dijitCheckedMenuItemIcon {
	background-image: url('images/spriteCheckbox.gif');
	background-position: -80px;
}

.gamelena .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}
