
/*****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
		dijit.form.Spinner (partial) (TODO: create NumberSpinner.css file like claro has)
 *****/

.gamelena .dijitButtonNode {
	/* enabled state - inner */
	border: 1px solid #8ba0bd;
	border-bottom:1px solid #657c9c;
	padding: 0.1em 0.2em 0.2em 0.2em;
	background: #bcd5f0 url("../images/buttonEnabled.png") repeat-x top left;
}

.gamelena .dijitButtonText {
	text-align: center;
	padding: 0 0.3em;
}
.gamelena .dijitInputField {
	padding: 0; /* set padding:0 for .gamelena .dijitSelect .dijitButtonText but with a low priority rule that can be easily trumped by the user */
}

.gamelena .dijitArrowButton {
	color: #111;
}

.gamelena .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}

.gamelena .dijitTextBoxReadOnly,
.gamelena .dijitTextBoxReadOnly .dijitButtonNode,
.gamelena .dijitButtonDisabled .dijitButtonNode,
.gamelena .dijitToggleButtonDisabled .dijitButtonNode,
.gamelena .dijitDropDownButtonDisabled .dijitButtonNode,
.gamelena .dijitComboButtonDisabled .dijitButtonNode,
.gamelena .dijitTextBoxDisabled,
.gamelena .dijitTextBoxDisabled .dijitButtonNode {
	/* disabled state - inner */
	border-color: #b9bbdd #b9bbdd #b9bbdd #b9bbdd;
	background:#c3d3e5 url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60;
}
.dj_ie6 .gamelena .dijitReadOnly input,
.dj_ie7 .gamelena .dijitReadOnly input,
.dj_ie6 .gamelena .dijitComboButtonDisabled .dijitButtonText,
.dj_ie7 .gamelena .dijitComboButtonDisabled .dijitButtonText {
	/* opacity doesn't work on table node in IE, work around here */
	color: #aaa;
}
.gamelena .dijitButtonHover .dijitButtonNode,
.gamelena .dijitButtonNodeHover,
.gamelena .dijitToggleButtonHover .dijitButtonNode,
.gamelena .dijitDropDownButtonHover .dijitButtonNode,
.gamelena .dijitButtonContentsHover,
.gamelena .dijitUpArrowButtonHover,
.gamelena .dijitDownArrowButtonHover {
	/* hover state - inner */
	/* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
	color:#243C5F;
	background:#acc5e2 url("../images/buttonHover.png") repeat-x top left;
}

.gamelena .dijitButtonActive .dijitButtonNode,
.gamelena .dijitToggleButtonActive .dijitButtonNode,
.gamelena .dijitDropDownButtonActive .dijitButtonNode,
.gamelena .dijitComboButtonActive .dijitButtonContents,
.gamelena .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	/* active state - inner (for when you are pressing a normal button, or
	 * when a radio-type button is in a depressed state
	 */
	border-color:#657c9c;
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}
.gamelena .dijitUpArrowButtonActive,
.gamelena .dijitDownArrowButtonActive {
	/* same as above except don't adjust border color (it's controlled by the containing Spinner/ComboBox) */
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}


.gamelena .dijitArrowButtonInner {
	background-image: url("../images/spriteArrows.png");
	background-repeat: no-repeat;
	background-position: 0 center;
	width: 11px;
	height: 11px;
}
.gamelena .dijitComboBox .dijitArrowButtonInner {
        background-position: 0 center;
}
.gamelena .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -11px center;
}
.gamelena .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -22px center;
}
.gamelena .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -33px center;
}
.dj_ie6 .gamelena .dijitArrowButtonInner {
	background-image: url("../images/spriteArrows.gif");
}
.dj_ie .gamelena .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
	margin-top: 1px; /* image has too many blank pixels on top */
}
.gamelena .dijitSpinnerButtonContainer {
	width: auto;
	padding: 0;
}
.gamelena .dijitSpinner .dijitArrowButton {
	width: 15px;
}
.gamelena .dijitSpinner .dijitSpinnerButtonInner {
	width: 15px;
}
.gamelena .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	padding: 0;
}
