
/****
 	SLIDER
****/

.gamelena .dijitSliderProgressBarH {
	border-color: #b1badf;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.gamelena .dijitSliderProgressBarV {
	border-color: #b1badf;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.gamelena .dijitSliderFocused .dijitSliderProgressBarH,
.gamelena .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}

.gamelena .dijitSliderFocused .dijitSliderProgressBarV,
.gamelena .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}

.gamelena .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}

.gamelena .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}

.gamelena .dijitSliderBar {
	border-style: solid;
	outline:1px;
	/* border-color: #b4b4b4; */
}
.gamelena .dijitSliderFocused .dijitSliderBar {
	border-color:#8ba0bd;
}

.gamelena .dijitSliderImageHandleH {
	border:0;
	width:15px;
	height:18px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
}
.gamelena .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
}

.dj_ie6 .gamelena .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}

.gamelena .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.gamelena .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}

.gamelena .dijitSliderImageHandleV {
	border:0;
	width:20px;
	height:15px;
	background:url("../images/sliderThumb.png") no-repeat center center;
}

.gamelena .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
}

.gamelena .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.gamelena .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}

.gamelena .dijitSliderIncrementIconH,
.gamelena .dijitSliderIncrementIconV {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -45px top;
	width:15px; height:15px;
}
.gamelena .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
}

.gamelena .dijitSliderDecrementIconH,
.gamelena .dijitSliderDecrementIconV {
	width:15px;
	height:15px;
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -15px top;
}
.gamelena .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat 0 top;
}

.gamelena .dijitSliderButtonInner {
	visibility:hidden;
}

.gamelena .dijitSliderReadOnly *,
.gamelena .dijitSliderDisabled * {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	color: #bdbdbd;
}
.gamelena .dijitSliderReadOnly .dijitSliderDecrementIconH,
.gamelena .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-position: 0 -15px;
}
.gamelena .dijitSliderReadOnly .dijitSliderIncrementIconH,
.gamelena .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-position: -30px -15px;
}
.gamelena .dijitSliderReadOnly .dijitSliderDecrementIconV,
.gamelena .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-position: -15px -15px;
}
.gamelena .dijitSliderReadOnly .dijitSliderIncrementIconV,
.gamelena .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-position: -45px -15px;
}
