
/* Slider */

.dijitRtl .gamelena .dijitSliderProgressBarH,
.dijitRtl .gamelena .dijitSliderRemainingBarH,
.dijitRtl .gamelena .dijitSliderLeftBumper,
.dijitRtl .gamelena .dijitSliderRightBumper,
.dijitRtl .gamelena .dijitSliderTopBumper {
	background-position: top right;
}

.dijitRtl .gamelena .dijitSliderProgressBarV,
.dijitRtl .gamelena .dijitSliderRemainingBarV,
.dijitRtl .gamelena .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .gamelena .dijitSliderLeftBumper {
	border-left-width: 0;
	border-right-width: 1px;
}

.dijitRtl .gamelena .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0;
}

.dijitRtl .gamelena .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat left top;
}

.dijitRtl .gamelena .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
}
