/nbproject/
/.buildpath
/.project
/.settings/
/.svn/
/public/.htaccess
/public/favicon.ico
/public/js/libs/css/
/public/upfiles/
/sh_entorno/
vendor/
tests/ci/
log/
.buildpath
.project
.idea/
.settings/
*.iml
cache/*
log/*
tests/ci/*
tests/logs/*
tests/pdepend/*
public/dojotoolkit/
cache.properties
composer.lock