/nbproject/
/.buildpath
/.project
/.settings/
/.svn/
/public/.htaccess
/public/favicon.ico
/public/js/libs/css/
/public/upfiles/
/sh_entorno/
vendor/
tests/ci/
log/
.buildpath
.project
.idea/
.settings/
*.iml
web/cache/*
web/log/*
web/tests/ci/*
web/tests/logs/*
web/tests/pdepend/*
bower_components/
cache/
log/
public/dojotoolkit/
cache.properties