/* Time Picker */
.zweicom .dijitTimePickerTick,
.zweicom .dijitTimePickerMarker {
	border-color: #b1badf;
}

.zweicom .dijitTimePickerTick {
	color:white;
}

.zweicom .dijitTimePickerMarker {
	background:#bed7f0 url("images/titleBar.png") repeat-x top;
	color:#293a4b;
	font-weight: bold;
}

.zweicom .dijitTimePickerItemSelected {
	color: black;
	background: #b9cbf1 none;
}

.zweicom .dijitTimePickerItemHover {
	background: #60a1ea none;
	color:white;
}

.zweicom .dijitTimePickerItemHover,
.zweicom .dijitTimePickerItemSelected {
	position: relative;
	z-index: 10;
}

.zweicom .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.4em;
}

.zweicom .dijitTimePickerItemHover .dijitTimePickerItemInner,
.zweicom .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:1em;
}

.zweicom .dijitTimePickerMarkerHover {
	border-top: 1px solid #94b9ef;
}

.zweicom .dijitTimePickerTickHover,
.zweicom .dijitTimePickerTickSelected {
	margin-top:-0.3em;
	margin-bottom:-0.3em;
	border-bottom: none;
}
