#arbolPrincipal {
    padding: 0.6em;
}

.gamelena #logosAdm {
    padding: 0.3em 1em 0 1.6em !important;
}

.claro #logosAdm, .tundra #logosAdm, .nihilo #logosAdm, .soria #logosAdm {
    padding: 0.5em 1em 0 1.6em !important;
}

#personalWrapper{
    top: 1.2em;
    float: right;
    position: absolute;
    right: 1.2em;
}

#contentPaneTop {
    height: auto;
}

.linkableItem a:hover {
    text-decoration: underline;
}

.gamelena #mainMenu {
    padding-right: 20em;
}

.claro #mainMenu {
    padding-right: 23em;
}

.tundra #mainMenu, .nihilo #mainMenu, .soria #mainMenu {
    padding-right: 22em;
}

