@font-face {
    font-family: 'resagokrbold';
    src: url('f/resagokrbold-webfont.eot');
    src: url('f/resagokrbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/resagokrbold-webfont.woff') format('woff'),
         url('f/resagokrbold-webfont.ttf') format('truetype'),
         url('f/resagokrbold-webfont.svg#resagokrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*******************
SELECTION STYLING
*******************/

::selection {
    color: #fff;
    background: #f676b2; /* Safari */
}
::-moz-selection {
    color: #fff;
    background: #f676b2; /* Firefox */
}

/*******************
BODY STYLING
*******************/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-align: left;
    text-decoration: none;
}

#wrapper {
    /* Center wrapper perfectly */
    width: 300px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
}


.gradient {
    /* Center Positioning */
    width: 600px;
    height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: -1;
    
    /* Fallback */ 
    background-image: url(i/gradient.png); 
    background-repeat: no-repeat; 
    
    /* CSS3 Gradient */
    background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
    background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213,246,255,1), rgba(213,246,255,0));
    background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
    background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
    background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
}

/*******************
LOGIN FORM
*******************/

.login-form {
    width: 300px;
    margin: 0 auto;
    position: relative;
    z-index:5;
    
    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
    padding: 40px 30px 0px 30px;
}

.login-form .header h1 {
    font-family: 'resagokrbold', serif;
    font-weight: 300;
    font-size: 28px;
    line-height:34px;
    color: #50A032;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    margin-bottom: 10px;
    text-align: center;
}

.login-form .header span {
    font-size: 11px;
    line-height: 16px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
    padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .input {
    width: 188px;
    padding: 15px 25px;
    
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.login-form dd {
	text-align: center;
}

/* Second input field */
.login-form  .password, .login-form .content .pass-icon {
    margin-top: 25px;
}

.login-form .input:hover {
    background: #dfe9ec;
    color: #414848;
}

.login-form  .input:focus {
    background: #dfe9ec;
    color: #414848;
    
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
    width: 46px;
    height: 47px;
    display: block;
    position: absolute;
    left: 0px;
    padding-right: 2px;
    z-index: 3;
    
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.user-icon {
    top:102px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
    background: rgba(65,72,72,0.75) url(../images/user-icon.png) no-repeat center;  
}

.pass-icon {
    top:168px;
    background: rgba(65,72,72,0.75) url(../images/pass-icon.png) no-repeat center;
}

/* Animation */
.input, .user-icon, .pass-icon, .button, .register {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

/*******************
FOOTER
*******************/

.login-form .footer {
    padding: 25px 30px 40px 30px;
    overflow: auto;
    
    background: #d4dedf;
    border-top: 1px solid #fff;
    
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form  .button {
    padding: 11px 25px;
    margin: 20px;
    
    font-family: 'resagokrbold', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    
    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;
    
    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .button:hover {
    background: #3f9db8;
    border: 1px solid rgba(256,256,256,0.75);
    
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .button:focus {
    position: relative;
    bottom: -1px;
    
    background: #56c2e1;
    
    box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

.errors, .error {
    color: rgb(255, 1, 1);
}   

.error {
    text-align: center;	
}

.errors li {
    display:inline-block;
}
/*******************
CORPORATIVO
*******************/
.gamelenaLogo
{
	background-image: url(../images/logo-gamelena-trans.svg);
	width: 322px;
	height: 185px;
	left: 81%;
	top: 81%;
	position: fixed;
	background-size: 200px;
	background-repeat: no-repeat;
}	
.operLogo
{
	background-repeat: no-repeat;
	width: 103px;
	height: 105px;
	left: -7%;
	top: 6%;
	z-index: 9999;
	position: absolute;
}

.dijitDialog {
	background: transparent !important;
}

.dijitDialog #wrapper {
    position: relative  !important;
    left: 0px !important;
    top: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}
.dijitDialogPaneContent {
    background: transparent !important;
    overflow: hidden !important;
    padding: 10px 33px 0px 33px !important;
}

