<html>
    <head>
        <title>Ingreso de usuario</title>
        <link rel="stylesheet" href="/dojotoolkit/dijit/themes/claro/claro.css" />
        <link rel="stylesheet" href="/admportal/base/web/view/css/estilos.css" />
        <!-- Carga del toolkit dojo -->
        <script type="text/javascript" src="/dojotoolkit/dojo/dojo.js"
            djConfig="parseOnLoad:true, isDebug:false"></script>
        <script type="text/javascript" src="/admportal/base/web/view/js/inicio.js"></script>

    </head>
    <body class="claro">
    </body>

</html>
