<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
    bootstrap="./bootstrap.php" colors="true">
	    <testsuite name="Application Test Suite">
	        <directory>./application</directory>
	    </testsuite>
	    <testsuite name="Library Test Suite">
	        <directory>./library</directory>
	    </testsuite>
	    <testsuite name="Selenium Test Suite">
	        <directory>./selenium</directory>
	    </testsuite>
    <php>
        <const name="PHPUNIT_USERNAME" value="zweicom"/>
        <const name="PHPUNIT_PASSWORD" value="zweicom"/>
        <const name="PHPUNIT_BROWSER" value="opera"/>
        <const name="PHPUNIT_WAITSECONDS" value="6"/>
    </php>
</phpunit>
