
/*****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
		dijit.form.Spinner (partial) (TODO: create NumberSpinner.css file like claro has)
 *****/

.zweicom .dijitButtonNode {
	/* enabled state - inner */
	border: 1px solid #8ba0bd;
	border-bottom:1px solid #657c9c;
	padding: 0.1em 0.2em 0.2em 0.2em;
	background: #bcd5f0 url("../images/buttonEnabled.png") repeat-x top left;
}

.zweicom .dijitButtonText {
	text-align: center;
	padding: 0 0.3em;
}
.zweicom .dijitInputField {
	padding: 0; /* set padding:0 for .zweicom .dijitSelect .dijitButtonText but with a low priority rule that can be easily trumped by the user */
}

.zweicom .dijitArrowButton {
	color: #111;
}

.zweicom .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}

.zweicom .dijitTextBoxReadOnly,
.zweicom .dijitTextBoxReadOnly .dijitButtonNode,
.zweicom .dijitButtonDisabled .dijitButtonNode,
.zweicom .dijitToggleButtonDisabled .dijitButtonNode,
.zweicom .dijitDropDownButtonDisabled .dijitButtonNode,
.zweicom .dijitComboButtonDisabled .dijitButtonNode,
.zweicom .dijitTextBoxDisabled,
.zweicom .dijitTextBoxDisabled .dijitButtonNode {
	/* disabled state - inner */
	border-color: #b9bbdd #b9bbdd #b9bbdd #b9bbdd;
	background:#c3d3e5 url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60;
}
.dj_ie6 .zweicom .dijitReadOnly input,
.dj_ie7 .zweicom .dijitReadOnly input,
.dj_ie6 .zweicom .dijitComboButtonDisabled .dijitButtonText,
.dj_ie7 .zweicom .dijitComboButtonDisabled .dijitButtonText {
	/* opacity doesn't work on table node in IE, work around here */
	color: #aaa;
}
.zweicom .dijitButtonHover .dijitButtonNode,
.zweicom .dijitButtonNodeHover,
.zweicom .dijitToggleButtonHover .dijitButtonNode,
.zweicom .dijitDropDownButtonHover .dijitButtonNode,
.zweicom .dijitButtonContentsHover,
.zweicom .dijitUpArrowButtonHover,
.zweicom .dijitDownArrowButtonHover {
	/* hover state - inner */
	/* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
	color:#243C5F;
	background:#acc5e2 url("../images/buttonHover.png") repeat-x top left;
}

.zweicom .dijitButtonActive .dijitButtonNode,
.zweicom .dijitToggleButtonActive .dijitButtonNode,
.zweicom .dijitDropDownButtonActive .dijitButtonNode,
.zweicom .dijitComboButtonActive .dijitButtonContents,
.zweicom .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	/* active state - inner (for when you are pressing a normal button, or
	 * when a radio-type button is in a depressed state
	 */
	border-color:#657c9c;
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}
.zweicom .dijitUpArrowButtonActive,
.zweicom .dijitDownArrowButtonActive {
	/* same as above except don't adjust border color (it's controlled by the containing Spinner/ComboBox) */
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}


.zweicom .dijitArrowButtonInner {
	background-image: url("../images/spriteArrows.png");
	background-repeat: no-repeat;
	background-position: 0 center;
	width: 11px;
	height: 11px;
}
.zweicom .dijitComboBox .dijitArrowButtonInner {
        background-position: 0 center;
}
.zweicom .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -11px center;
}
.zweicom .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -22px center;
}
.zweicom .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -33px center;
}
.dj_ie6 .zweicom .dijitArrowButtonInner {
	background-image: url("../images/spriteArrows.gif");
}
.dj_ie .zweicom .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
	margin-top: 1px; /* image has too many blank pixels on top */
}
.zweicom .dijitSpinnerButtonContainer {
	width: auto;
	padding: 0;
}
.zweicom .dijitSpinner .dijitArrowButton {
	width: 15px;
}
.zweicom .dijitSpinner .dijitSpinnerButtonInner {
	width: 15px;
}
.zweicom .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	padding: 0;
}
