
/* Slider */

.dijitRtl .zweicom .dijitSliderProgressBarH,
.dijitRtl .zweicom .dijitSliderRemainingBarH,
.dijitRtl .zweicom .dijitSliderLeftBumper,
.dijitRtl .zweicom .dijitSliderRightBumper,
.dijitRtl .zweicom .dijitSliderTopBumper {
	background-position: top right;
}

.dijitRtl .zweicom .dijitSliderProgressBarV,
.dijitRtl .zweicom .dijitSliderRemainingBarV,
.dijitRtl .zweicom .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .zweicom .dijitSliderLeftBumper {
	border-left-width: 0;
	border-right-width: 1px;
}

.dijitRtl .zweicom .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0;
}

.dijitRtl .zweicom .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat left top;
}

.dijitRtl .zweicom .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
}
